<div class="sidebar">
	<div class="cat_image">
		<a href="/">
			<img src="/img/cat.gif" alt="cat">
		</a>
	</div>
	<div class="button">
		<a href="/about.html">About</a>
	</div>
	<div class="button">
		<a href="/tech_posts">Tech posts</a>
	</div>
	<div class="button">
		<a href="/media.html">Media log</a>
	</div>
	<div class="button">
		<a href="/blog">blog</a>
	</div>
	<div class="button">
	    <a href="/marijuana_reviews.html">Reviews</a>
	    <hr>
	    <a href="/comissions.html">Comissions</a>
	</div>

	<div class="button">
		<a href="https://git.suragu.net">git</a>
	</div>
</div>
